# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Release Jmeter gRPC Plugin

on:
  push:
    tags:
      - v*

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set up dependencies
        run: |
          mvn clean install -Dmaven.test.skip=true
          sudo apt-get update
          sudo apt-get -y install xvfb
      - name: Check cacert
        run: |
          ls -la
          printf "changeit" |  keytool -list -v -keystore dist/cert/cacertslocal
        if: always()
      - name: Run unit test
        run: |
          nohup Xvfb :99 > /dev/null 2>&1 &
          export DISPLAY=:99
          mvn test -Djavax.net.ssl.trustStore=dist/cert/cacertslocal -Djavax.net.ssl.trustStorePassword=changeit
        if: always()
      - name: Verify Dummy Log
        run: |
          cat grpc-dummy-server.log
        if: always()
  build-plugin:
    runs-on: ubuntu-latest
    needs: [run-test]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build gRPC Plugin
        run: |
          mvn clean install package -Dmaven.test.skip=true
      - uses: actions/upload-artifact@v2
        with:
          name: gRPC-plugin-build
          path: ./target/jmeter-grpc-request-1.1.2.jar
  release-plugin:
    runs-on: ubuntu-latest
    needs: [build-plugin]
    steps:
      - name: Publish new gRPC plugin to release page
        run: |
          echo "Start to publish plugin to release page"
      - uses: actions/download-artifact@v2
        with:
          name: gRPC-plugin-build
      - run: ls .
